.portfolio {
  //padding: 1rem;
  /*max-width: 1200px;*/
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  //padding: 1rem;
}






/* Стильный темный скролл */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f1419;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #3182ce, #2c5aa0);
  border-radius: 10px;
  border: 2px solid #0f1419;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #2c5aa0, #3182ce);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3182ce #0f1419;
}






