* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: linear-gradient(135deg, #d6c2ff 0%, #9b87f5 100%);
    --bg-dark: linear-gradient(135deg, #1e3a8a 0%, #581c87 100%);
    --text-light: #ffffff;
    --text-dark: #000000;
    --text-color: #000000;
}


body {
    margin: 0;
    padding: 0;
    background: var(--main-black);
    color: var(--main-white);
    background-repeat: repeat;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2rem;
    overflow: hidden;
    perspective: 1000px;
    text-transform: uppercase;
}

/*====== canvas =======*/
#canvas {
    width: 100%;
    height: 100%;
    z-index: -1;
}



.site-wrap:not(.show-all) {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.site-wrap:not(.show-all) >.panel-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}


.site-wrap:not(.show-all) >.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3.8rem;
    margin: 0 auto;
    height: 100vh;
    //height: calc(100vh - 60px);
}



.title {
    //font-size: 13vmin;
    margin: 0;
    cursor: default;
    top: 30%;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
}
.description {
    margin: 0;
    cursor: default;
    top: 60%;
    left: 50%;
    line-height: 1;
    position: absolute;
    //text-align: center;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
}